

body {
    background-color: lightgray;
} 

.col-lg-9 {
    border: 1px solid black;
    height: 10vw;
    padding-top: 1%;
}

.col-lg-3 {
    border: 1px solid green;
    height: 10vw;
    margin: auto
} 

.container {
    border: 3px solid red;
    margin-top: 3%;
} 

h1 {
    text-align: center;
} 

.HideElements {
    visibility: hidden;
} 

.row {
    border: 3px solid black;
    margin: auto;
} 

.viewscreen {
    border: 1px solid black;
}